.menu-mobile {
    display: none;
}
.menu-mobile.is-open {
    display: block;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 1;
    position: fixed;
}
.menu-button {
    border: 0;
    background-color: #fff;
      &:hover,
    &:focus {
        fill: $main-hover-color;
    }
}
.menu-mobile__list {
    margin-bottom: 200px;
}
.menu-mobile__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 32px;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
        color: $main-hover-color;
    }
}
.menu-mobile__link {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    margin-bottom: 32px;
    &:hover,
    &:focus {
        color: $main-hover-color;
    }
}
.menu-mobile__social-list {
    display: flex;
    justify-content: space-between;
}
.menu-mobile__social-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
    padding: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);;
}
.button-cross{
    position: absolute;
    top: 20px;
    right: 0;
}
@media screen and (min-width:768px) {
    .menu-button{
        display: none;
    }
}